<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>x2WSrl5qxsmmNcRxALTYt1VQS</string>
	<key>consumer_Secret</key>
	<string>HehZBlZnO66NvkLwZ2Oev4ty15qUM16qNEq1NeO5Jt4p2E8m1B</string>
</dict>
</plist>
